* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Arial";
    font-weight: 200;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #efefef;
}

.container {
    width: 100%;
    height: 100%;
}

.header {
    height: 10%;
    width: 100%;
    padding: 1% 5%;
    display: flex;
    gap: 5%;
    align-items: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    background-color: white;
}

.header_options_item {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content {
    width: 90%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regions_container,
.addresses_container,
.searching-form {
    width: 100%;
}

.region_med_div_input,
.address_input {
    width: 50%;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #d2d4c8;
}

.regions_container,
.addresses_container {
    width: 50%;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
}

.regions_container_body,
.addresses_container_body {
    gap: 2px;
    display: flex;
    flex-direction: column;
    height: 65vh;
    overflow: scroll;
    scrollbar-width: none;
}

.regions_container_header_item,
.addresses_container_header_item {
    background-color: #889696;
    margin-bottom: 2px;
}

.regions_container_header_item > *,
.addresses_container_header_item > * {
    font-size: 16px;
    font-weight: bold;
}

.regions_container_item,
.addresses_container_item {
    background-color: white;
}

.regions_container_header_item,
.regions_container_item,
.addresses_container_header_item,
.addresses_container_item {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}

.regions_container_item,
.addresses_container_item {
    background-color: #d2d4c8;
    margin: 0 auto;
}

.regions_container_header_item > *,
.regions_container_item > *,
.addresses_container_item_address {
    width: 50%;
}

.regions_container_header_item > *,
.regions_container_item > * {
    text-align: center;
}

.addresses_container_item_medical_division,
.addresses_container_item_region {
    width: 25%;
    text-align: center;
}