<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Загрузка завершена</title>
    <link rel="stylesheet" th:href="@{/styles/css/style.css}" />
</head>
<body>

<div class="container">

    <header class="header">
        <a href="/" class="header_options_item">Поиск по адресу</a>
        <a href="/regions" class="header_options_item">Поиск по участку</a>
        <a href="http://10.174.246.199/m/" target="_blank" class="header_options_item">Карта</a>
    </header>

    <div class="content">

    </div>

    <script th:inline="javascript">
        let result = [[${result}]];

        console.log(result);

        if (result == "") {
            alert("Загрузка успешно завершена");
        } else {
            alert(`Возникла ошибка: ${result}`);
        }

        window.location.href = "/";
    </script>

</div>

</body>
</html>